<ul class="nav navbar-stacked">
	<li class="active"><a href="#/home"><i class="fa fa-home"></i> &nbspActivity Calculator</a></li>
	<li><a href="#/activitysearch"><i class="fa fa-search"></i> &nbspActivity Filters</a></li>
	<li><a href="#/user"><i class="fa fa-user"></i> &nbspUser Profile </a></li>
	<li><a href="#/about"><i class="fa fa-question-circle"></i> &nbspAbout FYA </a></li>
	<li feature-flag="admin">
 		<a href="#/admin"><i class="fa fa-cog"></i> &nbspManage Activities </a>
 	</li>
</ul>