<ul class="nav navbar-nav" ng-controller="NavbarController">
	<a class="navbar-brand" href="#/home"> Find Your Activity&nbsp</a>
	<button type="button" class="navbar-toggle navbar-left" ng-click="toggleMenu()">
  		<span class="icon-bar"></span>
  		<span class="icon-bar"></span>
  		<span class="icon-bar"></span>
	</button>
</ul>