<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1>{{pageTitle}}</h1>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				<h4>{{mainContent}}</h4>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				<h4>{{makeTheMost}}</h4>
			</div>
		</div>
		
		<div class="row" ng-hide="userLoggedIn">
			<div class="col-md-10">
				<a href="#/user"><h4>{{signUp}}</h4></a>
			</div>	
		</div>
</div>

