<div class="container">
		<div class="row">
			<div id="AdminForm" class="col-md-5">
				<h1>Activity Details</h1>
				<button ng-show="!isLoggingNew" class="btn" ng-click="clear(saveForm)">Add New Activity</button>
				<form name="saveForm" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="save(saveForm)"></form>
			</div>
			<div id="SignUpForm" class="col-md-5">
				<h1>Search</h1>
				<div class="row">
					<div class="col-md-8">
						<form name="searchInput">
							<input type="text" class="form-control" placeholder="Enter a name of an activity..." ng-model="activityName" required>
						</form>
					</div>
					<div class="col-md-4">
						<button type="submit" class="btn btn-primary" ng-click="search()" ng-disabled="searchInput.$invalid">Search</button>
					</div>
				</div>
				<div id="results" class="row">
					<div ng-show="resultsFound" class="col-md-10">
						<br />
						<label class="text-info">Click on an activity to update it</label>
						<table class="table table-striped table-hover">
        					<thead>
            					<tr>
	                			<th>Name</th>
	                			<th>Ages</th>
	                			<th>Price</th>
	                			<th>Postcode</th>
	                			<th>Company</th>
	                			<th>Website</th>
								</tr>
							</thead>
        	    			<tbody>
	            				<tr ng-repeat="activity in activities" ng-click="edit(activity)">
    	            			<td>{{activity.name}}</td>
                				<td>{{activity.ageRange}}</td>
                				<td>{{activity.price}}</td>
                				<td>{{activity.postcode}}</td>
                				<td>{{activity.company}}</td>
                				<td><a href="{{activity.website}}" ng-click="$event.stopPropagation();" target="_blank">{{activity.website}}</a></td>
                				<td><button class="btn" ng-click="deleteActivity(activity); $event.stopPropagation();">Delete</button></td>
								</tr>
							</tbody>
	    				</table>
					</div>
				<div ng-show="resultsEmpty" class="col-md-10">
					{{noResultsMessage}}
				</div>
			</div>
			</div>
		</div>
		<div class="row">
			<div id="Saved Message" class="col-md-5 text-success" ng-show="activitySaved">
				<strong>{{savedMessage}}</strong>
			</div>
		</div>
</div>