<div class="container" data-ng-init="loadDetails()">
	<div class="row">
		<h1 class="col-md-5">{{activityDetails.name}}</h1>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-6">
            <div id="map" style="width:450px;height:380px;"></div>
		</div>
		<div class="col-md-5">
			<h3>{{activityDetails.company}}</h3>
			<h4><a href="{{activityDetails.website}}" target="_blank">{{activityDetails.website}}</a></h4>
			<h4>Age: {{activityDetails.ageRange}}</h4>
			<h4>Price: {{activityDetails.price}}</h4>
			<h4>{{activityDetails.address}}</h4>
			<h4>{{activityDetails.postcode}}</h4>
			
			<br/>
			<label ng-show="isLoggedIn">Select Rating:</label>
  			<select class="form-control" ng-model="userRating" ng-show="isLoggedIn">
    			<option>1</option>
    			<option>2</option>
    			<option>3</option>
    			<option>4</option>
    			<option>5</option>
  			</select>
  			<br/>
  			<button class="btn btn-primary" ng-click="saveRating()" ng-show="isLoggedIn">Save Rating</button>
  			<div id="Rating Saved Message" class="text-success" ng-show="ratingSaved">
					<br/>
					<strong>{{savedMessage}}</strong>
				</div>
		</div>
	</div>
</div>