<div class="container" data-ng-init="loadUserData()">
	<div class="row">
		<h1 class="col-md-5">{{pageTitle}}</h1>
		<div class="row">
				<div class="col-md-5">
				</div>
				<div class="col-md-5">
					<div class="pull-right">
						<strong>{{logInMessage}}</strong>
						<br />
						<button ng-show="userLoggedIn" class="btn btn-primary pull-right" ng-click="logout()">Logout</button>
						<button  ng-show="!userLoggedIn" class="btn btn-primary pull-right" ng-click="navToLogin()">Log In/Sign Up</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
  		<div id="ActivityForm" class="col-md-5">
  			<form name="calcForm" sf-schema="schema" sf-form="form" sf-model="model" ng-submit="calculateResults(calcForm)"></form>
  		</div>
	</div>
	<br />
	
	<div id="loadingData" class="row" ng-show="dataIsLoading">	
		<div class="col-md-10">
			<h3 style="text-align:center;">
				<label class="text-success">
					<i class="fa fa-spinner fa-pulse"></i>
					Loading
				</label>
			</h3>
		</div>
	</div>
	
	<div id="results" class="row" ng-hide="dataIsLoading">
		<div class="col-md-10">
			<div ng-show="resultsFound">
				<label class="text-info">Click on an activity for more information and to rate it.</label>
				<table class="table table-striped table-hover">
        			<thead>
            			<tr>
            				<th>Rank</th>
            				<th>Match</th>
	                		<th>Name</th>
	                		<th>Ages</th>
	                		<th>Price</th>
	                		<th>Address</th>
	                		<th>Postcode</th>
	                		<th>Company</th>
	                		<th>Website</th>
						</tr>
					</thead>
        	    	<tbody>
            			<tr ng-repeat="activity in filteredActivities" ng-click="viewDetails(activity)">
                			<td>{{activity.rank}}</td>
                			<td>{{activity.coefficient}}</td>
                			<td>{{activity.name}}</td>
                			<td>{{activity.ageRange}}</td>
                			<td>{{activity.price}}</td>
                			<td>{{activity.address}}</td>
                			<td>{{activity.postcode}}</td>
                			<td>{{activity.company}}</td>
                			<td><a href="{{activity.website}}" ng-click="$event.stopPropagation();" target="_blank">{{activity.website}}</a></td>
						</tr>
					</tbody>
	    		</table>
	    		<div class="col-md-10" style="text-align:center;">
	    			<pagination 
  						ng-model="currentPage"
  						total-items="activities.length"
  						max-size="maxSize"  
  						boundary-links="true">
					</pagination>
				</div>
			</div>
			<div ng-show="resultsEmpty">
				<label class="text-danger">{{noResultsMessage}}</label>
			</div>
		</div>
	</div>
</div>
