<div class="container">
	
	<div ng-show="!isLoggedIn">
		<div class="row">
			<div id="LoginForm" class="col-md-5">
				<h1>Log In</h1>
				<form name="loginForm">
					<label>Username</label>
					<input type="text" class="form-control" ng-model="username" ng-required="true">
					<label>Password</label>
					<input type="password" class="form-control" ng-model="password" ng-required="true">
				</form>
				<br />
				<button type="submit" class="btn btn-primary" ng-click="login(username, password)" ng-disabled="loginForm.$invalid">Login</button>
			</div>
			<div id="SignUpForm" class="col-md-5">
				<h1>Sign Up Here</h1>
				<form name="signupForm">
					<label>Username</label>
					<input type="text" class="form-control" ng-model="signupUsername" ng-required="true">
					<label>Password</label>
					<input type="password" class="form-control" ng-model="signupPassword" ng-required="true">
					<label>Confirm Password</label>
					<input type="password" class="form-control" ng-model="signupConfirmPassword" ng-required="true">
				</form>
				<br />
				<button type="submit" class="btn btn-primary" ng-click="signup(signupUsername,signupPassword,signupConfirmPassword)" ng-disabled="signupForm.$invalid">Sign Up</button>
			</div>
		</div>
		<div class="row">
			<div id="Incorrect Login message" class="col-md-5 text-danger">
				<br />
				<strong>{{incorrectLoginMessage}}</strong>
			</div>
			<div id="Incorrect Signup message" class="col-md-5 text-danger">
				<br />
				<strong>{{incorrectSignupMessage}}</strong>
			</div>
		</div>
	</div>
	<div ng-show="isLoggedIn">
		<h1 class="col-md-5">User Profile</h1>
		<div class="row">
			<div class="col-md-5">
			</div>
			<div class="col-md-5">
				<div class="pull-right">
					<strong>{{loggedInMessage}}</strong>
					<br />
					<button class="btn btn-primary pull-right" ng-click="logout()">Logout</button>
				</div>
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-5">
				<span class="form-inline">
					<button class="btn btn-primary" ng-click="findSimilarUsers()">Find Similar Users</button>
					<label ng-show="isLoggedIn">Within:
  						<select class="form-control" ng-model="userDistance">
    						<option value="1">1 mile</option>
    						<option value="5">5 miles</option>
    						<option value="10">10 miles</option>
    						<option value="20">20 miles</option>
    						<option value="50">50 miles</option>
  						</select>
  					</label>
  				</span>
				<div id="loadingData" class="row" ng-show="dataIsLoading">	
					<div class="col-md-10">
					<h4 style="text-align:center;">
						<label class="text-success">
							<i class="fa fa-spinner fa-pulse"></i>
							Loading
						</label>
					</h4>
					</div>
				</div>
		
				<table class="table table-striped table-hover" ng-show="usersFound && !dataIsLoading">
        			<thead>
            			<tr>
            				<th>Rank</th>
            				<th>Match</th>
            				<th>Name</th>
            				<th>Email</th>
            				<th>Phone</th>
            			</tr>
            		</thead>
            		<tbody>
            			<tr ng-repeat="user in filteredSimilarUsers">
            				<td>{{user.rank}}</td>
            				<td>{{user.coefficient}}</td>
            				<td>{{user.username}}</td>
            				<td> <a href="mailto:{{user.email}}{{emailContent}}"> {{user.email}} </a></td>
            				<td>{{user.phone}}</td>
            			</tr>
            	</table>
            	<div class="col-md-10" style="text-align:center;" ng-show="usersFound && !dataIsLoading">
	    			<pagination 
  						ng-model="currentPage"
  						total-items="similarUsers.length"
  						max-size="maxSize"  
  						boundary-links="true">
					</pagination>
				</div>
            	<div class="text-danger" ng-show="notUsedCalculator">
            		<br/>
            		<strong>{{notUsedCalculatorMessage}}</strong>
            	</div>
			</div>
			<div class="col-md-5">
				<h3>Update Profile Details</h3>
				<form name="updateForm" sf-schema="updateDetailsSchema" sf-form="form" sf-model="updateDetailsModel"></form>
				<button type="submit" class="btn btn-primary pull-right" ng-click="updateProfile()">Update Profile</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
			</div>
			<div class="col-md-5">
				<div id="Profile Updated Message" class="pull-right text-success" ng-show="profileUpdated">
					<br/>
					<strong>{{profileUpdatedMessage}}</strong>
				</div>
			</div>
		</div>
	</div>
</div>