<div class="container">
	<div class="row">
		<div class="col-md-5">
			<form name="searchInput">
				<div class="col-md-10">
					<input type="text" class="form-control" placeholder="Enter a name of an activity..." ng-model="activityName" required>
				</div>
				<button type="submit" class="btn btn-primary" ng-click="search()" ng-disabled="searchInput.$invalid">Search</button>
			</form>
		</div>
		<div class="col-md-5">
			<button type="submit" class="btn btn-primary" ng-click="highestRated()" >Highest Rated</button>
			<button type="submit" class="btn btn-primary" ng-click="nearActivities()" ng-disabled="!isLoggedIn">Activities Near Me</button>
			<button type="submit" class="btn btn-primary" ng-click="usersHighestRated()" ng-disabled="!isLoggedIn">Similar Users' Ratings</button>
		</div>
	</div>
	
	<div id="loadingData" class="row" ng-show="dataIsLoading">	
		<div class="col-md-10">
			<br />
			<h3 style="text-align:center;">
				<label class="text-success">
					<i class="fa fa-spinner fa-pulse"></i>
					Loading
				</label>
			</h3>
		</div>
	</div>
	
	<div id="results" class="row" ng-hide="dataIsLoading">
		<div class="col-md-10">
			<div ng-show="resultsFound">
				<br />
				<label class="text-info">Click on an activity for more information</label>
				<table class="table table-striped table-hover">
        			<thead>
            			<tr>
            				<th ng-show="!viewingSearch">Rank</th>
            				<th ng-show="viewingRated">Average Rating</th>
            				<th ng-show="viewingNear">Distance (miles)</th>
	                		<th>Name</th>
	                		<th>Ages</th>
	                		<th>Price</th>
	                		<th>Address</th>
	                		<th>Postcode</th>
	                		<th>Company</th>
	                		<th>Website</th>
						</tr>
					</thead>
        	    	<tbody>
            			<tr ng-repeat="activity in filteredActivities" ng-click="viewDetails(activity)">
            				<td ng-show="!viewingSearch">{{activity.rank}}</td>
            				<td ng-show="viewingRated">{{activity.ratingsDisplay}}</td>
            				<th ng-show="viewingNear">{{activity.distance}}</th>
                			<td>{{activity.name}}</td>
                			<td>{{activity.ageRange}}</td>
                			<td>{{activity.price}}</td>
                			<td>{{activity.address}}</td>
                			<td>{{activity.postcode}}</td>
                			<td>{{activity.company}}</td>
                			<td><a href="{{activity.website}}" ng-click="$event.stopPropagation();" target="_blank">{{activity.website}}</a></td>
						</tr>
					</tbody>
	    		</table>
	    		<div class="col-md-10" style="text-align:center;">
	    			<pagination 
  						ng-model="currentPage"
  						total-items="activities.length"
  						max-size="maxSize"  
  						boundary-links="true">
					</pagination>
				</div>
			</div>
			<div ng-show="resultsEmpty">
				<br />
				<label class="text-danger">{{noResultsMessage}}</label>
			</div>
		</div>
	</div>
</div>
