/* theme customisation */
body {
  background-color: #eeeeee;
  padding-top: 50px;
}
.navbar {
    margin-bottom: 0;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-color: #099631;
	border-color: #099631;
}
.btn-primary[disabled] {
	background-color: #099631;
	border-color: #099631;
}

[ng-click] {
  cursor: pointer;
}

/* sidebar customisation*/
#sidebar-wrapper {
	background-color: #ffffff;
    left: 220px;
}

.sidebar-nav li {
    text-indent: 30px;
    font-size: 110%;
    line-height: 30px;
}

.sidebar-nav li a {
    color: #099631;
}

.sidebar-nav li a:hover {
    color: #ffffff;
    background: #099631;
}

/* Navbar toggle button customisation*/
.navbar-default .navbar-toggle {
  float: left; 
  display:block;
  border-color: transparent;
}